.galeria{
    padding: 5em 0;
    background: rgb(40,39,39);
    background: linear-gradient(180deg, rgba(40,39,39,1) 28%, rgba(0,0,0,1) 90%, rgb(19, 18, 18) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 15px;
}

@media screen and (min-width: 640px){
    .fotos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px){
    .fotos{
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}