.header {
    width: 100vw;
    height: 100vh;
    background-image: url(./../../assets/images/heroMobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.header__container--text {
    text-align: center;

    h1 {
        text-transform: uppercase;
        background: -webkit-linear-gradient(#DDB77E, #F2AF4B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    span {
        letter-spacing: 2px;
    }

    h2 {
        font-family: 'Gotham-Light';
        margin: 1.5em 0;
        font-weight: 100;

        b{
            font-family: 'Gotham-Book';
        }
    }

    p {
        color: var(--amarelo-claro);
        margin-bottom: 3em;
        
    }

    a {
        color: var(--branco);
        background: rgb(221, 183, 126);
        background: linear-gradient(50deg, rgba(221, 183, 126, 1) 0%, rgba(218, 152, 54, 1) 63%);
        text-shadow:
        1px 1px 0 #00000042,
        -1px -1px 0 #00000042,
        1px -1px 0 #00000042,
        -1px 1px 0 #00000042;
    }

    a:hover{
        transition: ease-in .2s;
        transform: scale(1.05);
        background: linear-gradient(50deg, rgb(221, 173, 101) 0%, rgb(207, 132, 19) 63%); 
    }

}




@media screen and (min-width: 1024px){
    .header{
        background-position: center;
        background-image: url(./../../assets/images/bg.webp);
    }
    .header__container--text{
        width: 45%;
        height: auto;

        h2 {
            margin: .7em 0;
        }
    }
}